{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      },
    ]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
