// Detect lightness
@use "sass:math";

@function detectLightness($color) {
  @if (lightness($color) > 60) {
    @return mix($color, #000, 90%);
  } @else {
    @return mix($color, #fff, 90%);
  }
}

// Spacing
@function spacing($type) {
  @if $type == 'compact' {
    @return 12px;
  }
  @if $type == 'spacious' {
    @return 22px;
  } @else {
    @return 16px;
  }
}

// Description
@function desc($display) {
  @if $display == false {
    @return none;
  } @else {
    @return block;
  }
}

// Layout type
@mixin layout-width($type) {
  @if $type == 'small' {
    max-width: 500px;
    min-width: 400px;
  }
  @if $type == 'normal' {
    max-width: 600px;
    min-width: 500px;
  }
  @if $type == 'large' {
    max-width: 800px;
    min-width: 600px;
  }
  @if $type == 'full' {
    width: 100%;
  }
}

// Alignment type
@mixin alignment-type($type) {
  @if $type == 'left' {
    left: 0;
    right: inherit;
  }
  @if $type == 'right' {
    right: 0;
    left: inherit;
  }
  @if $type == 'center' {
    left: 0;
    right: 0;
    margin: auto;
  }
}

// Mixin - Shadow type
@mixin shadow-type($type) {
  @if $type == 'light' {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  @if $type == 'heavy' {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// Mixin - highlight
@function set-highlight($highlight, $color) {
  @if $highlight == 1 and lightness($color) < 60 {
    @return mix(#fff, $color, 90%);
  } @else {
    @return darken(detectLightness($color), 30%);
  }
}

@mixin dropdown(
  $main-color: #458ee1,
  $layout-width: normal,
  $layout-type: normal,
  $layout-alignment: 'align',
  $background-color: #ffffff,
  $border-radius: 4,
  $border-width: 1,
  $border-color: #d9d9d9,
  $box-shadow: light,
  $branding-position: bottom,
  $font-size: normal,
  $header-color: #33363d,
  $title-color: #02060c,
  $subtitle-color: #a4a7ae,
  $text-color: #63676d,
  $highlight-color: #3881ff,
  $spacing: normal,
  $include-desc: true,
  $background-category-header: #ffffff,
  $highlight-opacity: 0.1,
  $highlight-type: 'underline',
  $code-background: #ebebeb,
  $responsive-breakpoint: 768px,
  $suggestion-background-color: #f8f8f8,
  $hover-color-opacity: 0.05,
  $dark-mode: false
) {
  $header-size: 1em;
  $title-size: 0.9em;
  $text-size: 0.85em;
  $subtitle-size: 0.9em;
  $padding: spacing($spacing);

  @if $font-size == 'small' {
    $header-size: 0.95em;
    $title-size: 0.8em;
    $text-size: 0.75em;
    $subtitle-size: 0.8em;
  } @else if $font-size == 'large' {
    $header-size: 1.1em;
    $title-size: 1em;
    $text-size: 0.9em;
    $subtitle-size: 1em;
  }
  .meilisearch-autocomplete {
    &.meilisearch-autocomplete-right .dsb-dropdown-menu {
      @include alignment-type(right);
      &:before {
        right: 48px;
      }
    }
    &.meilisearch-autocomplete-left .dsb-dropdown-menu {
      @include alignment-type(left);
      &:before {
        left: 48px;
      }
    }

    // Dropdown wrapper
    .dsb-dropdown-menu {
      position: relative;
      top: -6px;
      border-radius: $border-radius + px;
      margin: 6px 0 0;
      padding: 0;
      text-align: left;
      height: auto;
      background: transparent;
      border: none;
      z-index: 999;
      @include layout-width($layout-width);
      @include shadow-type($box-shadow);

      // Arrow
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        background: $background-color;
        z-index: 1000;
        top: -7px;
        border-top: $border-width + px solid $border-color;
        border-right: $border-width + px solid $border-color;
        transform: rotate(-45deg);
        border-radius: 2px;
      }

      .dsb-suggestions {
        position: relative;
        z-index: 1000;
        margin-top: $padding*0.5;
        & a:hover {
          text-decoration: none;
        }
      }

      .dsb-suggestion {
        cursor: pointer;

        &.dsb-cursor {
          .docs-searchbar-suggestion.suggestion-layout-simple {
            background-color: rgba($main-color, $hover-color-opacity);
          }

          .docs-searchbar-suggestion:not(.suggestion-layout-simple) {
            .docs-searchbar-suggestion--content {
              background-color: rgba($main-color, $hover-color-opacity);
            }
          }
        }
      }

      [class^='dsb-dataset-'] {
        position: relative;
        border: solid $border-width + px $border-color;
        background: $background-color;
        border-radius: $border-radius + px;
        overflow: auto;
        padding: 0 $padding*0.5 $padding*0.5;
      }

      // Inner-grid setup
      * {
        box-sizing: border-box;
      }
    }

    // Each suggestion item is wrapped
    .docs-searchbar-suggestion {
      display: block;
      position: relative;
      padding: 0 $padding*0.5;
      background: $background-color;
      color: $title-color;
      overflow: hidden;

      @if $highlight-type == basic {
        &--highlight {
          color: $main-color;
          background-color: rgba($main-color, $highlight-opacity);
        }
      } @else {
        &--highlight {
          color: set-highlight($highlight-opacity, $main-color);
          background: rgba(mix($main-color, #fff, 60%), $highlight-opacity);
          padding: 0em 0.05em;
          @if $dark-mode {
            color: lighten($main-color, 20%);
          }
        }

        &--category-header
          .docs-searchbar-suggestion--category-header-lvl0
          .docs-searchbar-suggestion--highlight,
        &--category-header
          .docs-searchbar-suggestion--category-header-lvl1
          .docs-searchbar-suggestion--highlight {
          padding: 0 0 1px;
          background: inherit;
          box-shadow: inset 0 -2px 0 0 rgba($main-color, 0.8);
          color: inherit;
        }

        &--text .docs-searchbar-suggestion--highlight {
          padding: 0 0 1px;
          background: inherit;
          box-shadow: inset 0 -2px 0 0 rgba($main-color, 0.8);
          color: inherit;
        }
      }

      &--content {
        display: block;
        width: 70%;
        position: relative;
        padding: math.div($padding, 3) 0 math.div($padding, 3) math.div($padding, 1.5);
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          height: 100%;
          width: 1px;
          background: #ddd;
          left: -1px;
        }
      }

      &--category-header {
        position: relative;
        border-bottom: 1px solid #ddd;
        display: none;
        margin-top: $padding*0.5;
        padding: $padding*0.25 0;
        font-size: $header-size;
        color: $header-color;
        @if $dark-mode {
          color: lighten($subtitle-color, 10%);
        }
      }

      &--wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: $padding*0.5 0 0 0;
      }

      &--subcategory-column {
        width: 30%;
        padding-left: 0;
        text-align: right;
        position: relative;
        padding: math.div($padding, 3) math.div($padding, 1.5);
        color: $subtitle-color;
        font-size: $subtitle-size;
        word-wrap: break-word;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          height: 100%;
          width: 1px;
          background: #ddd;
          right: 0;
        }
      }

      &--subcategory-inline {
        display: none;
      }

      &--title {
        margin-bottom: $padding*0.25;
        color: $title-color;
        font-size: $title-size;
        font-weight: bold;
      }

      &--text {
        display: desc($include-desc);
        line-height: 1.2em;
        font-size: $text-size;
        color: $text-color;
      }

      &--no-results {
        width: 100%;
        padding: $padding*0.5 0;
        text-align: center;
        font-size: 1.2em;

        &::before {
          display: none;
        }
      }

      code {
        padding: 1px 5px;
        font-size: 90%;
        border: none;
        color: #222222;
        background-color: $code-background;
        border-radius: 3px;
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        .docs-searchbar-suggestion--highlight {
          background: none;
        }
      }

      // Rules to display categories and subcategories
      &.docs-searchbar-suggestion__main
        .docs-searchbar-suggestion--category-header {
        display: block;
      }

      &.docs-searchbar-suggestion__secondary {
        display: block;
      }

      @media all and (min-width: #{$responsive-breakpoint}) {
        .docs-searchbar-suggestion--subcategory-column {
          display: block;
        }
      }
      @media all and (max-width: #{$responsive-breakpoint}) {
        .docs-searchbar-suggestion--subcategory-column {
          display: inline-block;
          width: auto;
          text-align: left;
          padding: 0;
          font-size: 0.9em;
          font-weight: bold;
          opacity: 0.5;
          color: #02060c;
          @if $dark-mode {
            color: $subtitle-color;
            opacity: unset;
          }

          &:before {
            display: none;
          }
          &:after {
            content: '|';
          }
        }
        .docs-searchbar-suggestion--content {
          display: inline-block;
          width: auto;
          text-align: left;
          padding: 0;

          &:before {
            display: none;
          }
        }
      }
    }

    //Simple layout (no column)
    .suggestion-layout-simple {
      &.docs-searchbar-suggestion {
        border-bottom: solid 1px #eee;
        padding: $padding*0.5;
        margin: 0;
        @if $dark-mode {
          border-bottom: solid 1px lighten($border-color, 10%);
        }
      }

      .docs-searchbar-suggestion {
        &--content {
          width: 100%;
          padding: 0;

          &::before {
            display: none;
          }
        }

        &--category-header {
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          border: none;

          &-lvl0,
          &-lvl1 {
            opacity: 0.6;
            font-size: $text-size;
            @if $dark-mode {
              opacity: unset;
              color: lighten($subtitle-color, 10%);
            }
          }

          &-lvl1 {
            &::before {
              background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
              content: '';
              width: 10px;
              height: 10px;
              display: inline-block;
              @if $dark-mode {
                filter: invert(1);
              }
            }
          }
        }

        &--wrapper {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        &--duplicate-content,
        &--subcategory-inline {
          display: none;
        }

        &--title {
          margin: 0;
          color: $main-color;
          font-size: $title-size;
          font-weight: normal;
          @if $dark-mode {
            color: $text-color;
          }

          &::before {
            content: '#';
            font-weight: bold;
            color: $main-color;
            display: inline-block;
            @if $dark-mode {
              color: $text-color;
            }
          }
        }

        &--text {
          margin: $padding*0.25 0 0;
          display: desc($include-desc);
          line-height: 1.4em;
          padding: math.div($padding, 3) $padding*0.5;
          background: $suggestion-background-color;
          font-size: $text-size;
          opacity: 0.8;

          .docs-searchbar-suggestion--highlight {
            color: darken($text-color, 15%);
            font-weight: bold;
            box-shadow: none;
            @if $dark-mode {
              color: lighten($text-color, 15%);
            }
          }
        }
      }
    }

    // powered by
    .docs-searchbar-footer {
      width: 100%;
      text-align: right;
      height: 20px;
      z-index: 2000;
      margin-top: math.div($padding, 1.5);
      color: $text-color;
      margin-left: auto;
    }

    .docs-searchbar-footer-logo {
      margin-bottom: 4px;
      @if $dark-mode {
        filter: invert(1);
      }
    }
  }
}
