name: publish to npm
on:
  release:
    types: [published]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          cache: "yarn"
      - name: Check release validity
        run: sh .github/scripts/check-release.sh
      - name: Check tag format
        run: sh .github/scripts/check-tag-format.sh "${{ github.event.release.prerelease }}"
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: NODE_ENV=production yarn run build
      - name: Publish with latest tag
        if: "!github.event.release.prerelease && !contains(github.ref, 'beta')"
        run: npm publish .
      - name: Publish with beta tag
        if: "github.event.release.prerelease && contains(github.ref, 'beta')"
        run: npm publish . --tag beta
